#contacts.page(data-title="contacts")
  header.header.page-header
    a.creato-home(href='#home' id="home-link") creato
    h1.header-title Contact us
  section.page-content
    .form-wrapper
      aside.contact-content-item.contact-info
        p.location Kyiv, Ukraine
        p.other-info
          span Serhii Klymenko
          a.contact-link(href="tel:+38093 133 49 60") +38093 133 49 60
          a.contact-link(href="mailto:contact@creato.tech") contact@creato.tech
      form.contact-content-item.message-form.send-form(name="message" action="/php/send.php" method="post")
        .input-wrap
          input(
            type="text"
            name="email"
            placeholder="E-mail"
          )
        textarea(
          name="message"
          placeholder="Message"
        )
        .send
          button(
            name="submit"
            type="submit"
            data-text="Send"
          ) Send
          .send-message(data-text="Message sent")
          .error-message
            .error-title
            .error-text
